# Dependencias
node_modules/

# Compilación
 dist/
build/

# Variables de entorno y secretos
.env
.env.*
!.env.example

# Bases de datos locales
*.sqlite
*.sqlite3
*.db

# Subidas locales
uploads/*
!uploads/.gitkeep

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE y sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
